*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 1.2rem;
}

nav ul li{
    list-style: none;
    padding:0 0 0 15px;
    font-size: 13px;
    font-family: sans-serif, arial;

}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.profile-img{
    clip-path: circle(50% at 50% 50%);
    
}

.google-apps-logo{
    height:24px;
    width: 24px;
    opacity: 50%; 
}

.g-img{
    display: block;
    margin:auto;
    margin-top:3.5rem;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-top:3rem;
}

.search-box input{
    padding:1rem;
    height:2.5rem;
    width:30rem;
    border:1px solid rgb(196, 196, 196);
    border-radius: 2rem;
    outline: none;
    
}